<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <div th:insert="~{layout/head}"></div>
    <title>about</title>
</head>
<body>
<div class="container-fluid" th:insert="~{layout/navbar}"></div>
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th>ID</th>
                <th th:text="#{label.name}"></th>
                <th th:text="#{label.price}"></th>
                <th th:text="#{label.amount}"></th>
                <th th:text="#{label.countries}"></th>
                <th th:text="#{label.categories}"></th>
                <th th:text="#{button.details}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="it : ${tovary}">
                <td th:text="${it.id}"></td>
                <td th:text="${it.name}"></td>
                <td th:text="${it.price}"></td>
                <td th:text="${it.amount}"></td>
                <td th:text="${it.country.name} +' / '+ ${it.country.code}"></td>
                <td>
                    <span style="display: block"  th:each="cat : ${it.categories}" th:text="${cat.name}"></span>
                </td>
                <td><a th:href="@{'/details/'+ ${it.id}}" class="btn btn-info btn-sm" th:text="#{button.details}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>