<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:insert="~{layout/head}"></div>
    <title>Index</title>
</head>
<body>
<div class="container-fluid" th:insert="~{layout/navbar}"></div>
<div class="row mt-5">
    <div class="col-6 offset-3">
        <form th:action="@{'/additem'}" method="post">
            <div class="form-group">
                <label th:text="#{label.name}">:</label>
                <input type="text" class="form-control" name="item_name">
            </div>
            <div class="form-group">
                <label th:text="#{label.price}"></label><input type="number" class="form-control" name="item_price"
                                                               value="0">
            </div>
            <div class="form-group">
                <label th:text="#{label.amount}"></label><input type="number" class="form-control" name="item_amount"
                                                                value="0">
            </div>
            <div class="form-group">
                <label th:text="#{label.countries}"></label>>
                <select class="form-control" name="country_id">
                    <option th:each="cnt : ${countries}" th:text="${cnt.name} + ' / ' +${cnt.code}"
                            th:value="${cnt.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success" th:text="#{button.add}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>



